<ul class="breadcrumb">
  <li><a href="">Home</a></li>
  <li>勤怠</li>
  <li class="active">勤怠個人カレンダー</li>
</ul>

<!--メイン-->
<ul class="nav nav-tabs" style="margin-bottom:15px;">
  <li [class.active]="tabFlg1"><a data-toggle="tab"><i class="glyphicon glyphicon-list-alt" (click)="changeTab(1)"></i><span id="tabname"></span></a></li>
  <li [class.active]="tabFlg2"><a data-toggle="tab"><i class="glyphicon glyphicon-calendar" (click)="changeTab(2)"></i></a></li>
  <li [class.active]="tabFlg3"><a data-toggle="tab"><i class="glyphicon glyphicon-th-list" (click)="changeTab(3)"></i></a></li>
  <!--<li class="navbar-right"><a data-toggle="modal" data-target="" ><i class="glyphicon glyphicon-plus" (click)="yosanmodal.show()"></i></a></li>-->
</ul>

<angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
