    <ul class="breadcrumb">
      <li><a href="">Home</a></li>
      <li>勤怠</li>
      <li class="active">勤怠一覧</li>
    </ul>


    <!--メイン-->
    <ul class="nav nav-tabs" style="margin-bottom:15px;">
      <li [class.active]="tabFlg1"><a data-toggle="tab"><i class="glyphicon glyphicon-list-alt" (click)="changeTab(1)"></i><span id="tabname"></span></a></li>
      <li [class.active]="tabFlg2"><a data-toggle="tab"><i class="glyphicon glyphicon-calendar" (click)="changeTab(2)" ></i></a></li>
      <li [class.active]="tabFlg3"><a data-toggle="tab"><i class="glyphicon glyphicon-th-list" (click)="changeTab(3)"></i></a></li>
      <li class="navbar-right"><a data-toggle="modal" data-target="" ><i class="glyphicon glyphicon-plus" (click)="yosanmodal.show()"></i></a></li>
    </ul>


    <div class="tab-content">
      <div class="tab-pane" [class.active]="tabFlg1" id="home">

        <div ng-controller="ngController as ngCtrl">
          <div class="input-group">

            <input type="text" id="area" [(ngModel)]="serch" class="form-control" placeholder="有休・交通費・実績" autocomplete="on" list="titleList">
            <datalist id="titleList">
              <option value="実績">
              <option value="有休">
              <option value="交通費">
              <option value="旅費">
            </datalist>

            <span class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="dispFilterPara()"><i class="glyphicon glyphicon-filter"></i></button>
            </span>
          </div>

          <div id="filterhtmlid" [style.display]="filterpara">
            <div class="row">
              <div class="col-sm-1"></div>
              <div class="col-sm-10">
                <br /><br />
                <span class="bold">再読み込み情報</span>
                <ng2-datepicker [options]="options" [(ngModel)]="date" [name]="nameS"></ng2-datepicker>
                <ng2-datepicker [options]="options" [(ngModel)]="date2" [name]="nameE"></ng2-datepicker>

                <div class='btn-group'>
                  <button id='tabRefresh' type='button' class='btn btn-default'>再取得</button>
                  <button id='tabNew' type='button' class='btn btn-default'>別タブで取得</button>
                </div>
                <hr />
                <div id='allCheck' class='btn-group'>
                  <button type='button' class='btn btn-default'>一括操作</button>
                </div>
              </div>
              <div class="col-sm-1"></div>
            </div>

          </div>

          <table class="table table-striped table-bordered table-hover table-condensed">
            <tr class="bold">
              <td id="checkAllList" class="checkBoxshow dispnone">
                <input type="checkbox" value="">
              </td>
              <td>日付</td>
              <td>タイトル</td>
              <td>時間・金額</td>
            </tr>

            <tr *ngFor="let recod of kinmudataArray|filter:serch">
              <td class="checkBoxshow dispnone"><input type="checkbox" value=""></td>
              <td>{{recod.date}}</td>
              <td>{{recod.title}}</td>
              <td>{{recod.value}}</td>
            </tr>
          </table>
          <button class="btn btn-success "><i class="glyphicon glyphicon-print"></i> 電子ファイル出力</button>

        </div>
      </div>
    </div>






    <app-yosanmodal>
      <div class="app-modal-header">
        <div class="radio">
          <label><input type="radio" name="radio" value="radio1"> 実績</label>
          <label><input type="radio" name="radio" value="radioYotei"> 予定</label>
          <label><input type="radio" name="radio" value="radio2"> 有給</label>
          <label><input type="radio" name="radio" value="radio3"> 交通費</label>
          <label><input type="radio" name="radio" value="radio4"> その他</label>
        </div>
        <div class="input-group">
          <span class="input-group-addon" >タイトル</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="app-modal-body">
        <div class="input-group" id="naiyou_id">
          <span class="input-group-addon"> 内容 </span>
          <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>



        <div class="input-group">
          <span class="input-group-addon">日付</span>
          <input type="text" class="form-control bsDate" id="#mydate">
        </div>

        <div class="input-group" id="time_start">
          <span class="input-group-addon" >開始</span>
          <span class="input-group-addon" id="downStartHour"><i class="glyphicon glyphicon-fast-backward"></i></span>
          <span class="input-group-addon" id="downStartMinutes"><i class="glyphicon glyphicon-step-backward"></i></span>
          <input type="text" id="time_startText" class="form-control" autocomplete="on" list="titleList" value="9:00">
          <span class="input-group-addon" id="upStartMinutes"><i class="glyphicon glyphicon-step-forward"></i></span>
          <span class="input-group-addon" id="upStartHour"><i class="glyphicon glyphicon-fast-forward"></i></span>
        </div>

        <div class="input-group" id="time_end">
          <span class="input-group-addon" >終了</span>
          <span class="input-group-addon" id="downEndHour"><i class="glyphicon glyphicon-fast-backward"></i></span>
          <span class="input-group-addon" id="downEndMinutes"><i class="glyphicon glyphicon-step-backward"></i></span>
          <input type="text" id="time_endText" class="form-control" autocomplete="on" list="titleList" value="17:00">
          <span class="input-group-addon" id="upEndMinutes"><i class="glyphicon glyphicon-step-forward"></i></span>
          <span class="input-group-addon" id="upEndHour"><i class="glyphicon glyphicon-fast-forward"></i></span>
        </div>


        <div class="input-group" id="kyuukeibox">
          <span class="input-group-addon" >休憩</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>

        <div class="input-group dispnone" id="norimonoibox">
          <span class="input-group-addon" >乗物</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>

        <div class="input-group dispnone" id="keirobox">
          <span class="input-group-addon" >経路</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
          <span class="input-group-addon" >〜</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
          <span class="input-group-addon" >〜</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>

        <div class="input-group" id="kingaku_id">
          <span class="input-group-addon" id="basic-addon1">金額</span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="app-modal-footer">
        <button type="button" class="btn btn-default ">承認</button>
        <button type="button" class="btn btn-default">削除</button>
        <button type="button" class="btn btn-default" id="modalout" data-dismiss="modal" (click)="yosanmodal.hide()">閉じる</button>
        <button type="button" class="btn btn-primary" id="pulslistPopup">保存</button>
      </div>
    </app-yosanmodal>



