.sidebar{
  /*width: 20%;*/
  float:left;
}

.mainBox{
  /*width: 70%;*/
  float:left;
  margin-left: 10px;
  margin-top: -20px;
}



#child2{
  background-image:url('/src/assets/walk.jpg');
  position: relative;

}

#child2:before {
  content:"";
  display: block;
  padding-top: 10%; /* 高さを幅の75%に固定 */
}

#child3:before {
  content:"";
  display: block;
  padding-top: 10%; /* 高さを幅の75%に固定 */
}

#child4:before {
  content:"";
  display: block;
  padding-top: 10%; /* 高さを幅の75%に固定 */
}
#child3{
  background-image:url('/src/assets/train.jpg');
  position: relative;
}

#child4{
  background-image:url('/src/assets/walk.jpg');
  position: relative;
}


