<!--交通費出張旅費精算-->


<ul class="breadcrumb">
  <li><a href="">Home</a></li>
  <li>勤怠</li>
  <li class="active">交通費出張旅費精算</li>
</ul>

<!-- ↓htmlはこちらへ↓ -->
<!-- カプセル・メニュー -->
<ul class="nav nav-pills">
  <li class="active"><a href="#transport_cost" data-toggle="tab">交通費精算</a></li>
  <li><a href="#traveling_expenses" data-toggle="tab">出張旅費精算</a></li>
</ul>
<!-- 内容 -->
<div class="tab-content" id="tab_mg">
  <div class="tab-pane active" id="transport_cost">
    <table class="table table-bordered table-condensed">
      <tr class="active text-center"><td style="width:110px">購入日/利用日</td><td style="width:110px">申請コード</td><td style="width:155px">種別</td><td style="width:130px">乗物</td><td>経路&emsp;（発～経由～着）</td><td style="width:95px">金額</td></tr>
      <tr class="cell_font"><td><input type="text" class="form-control input-sm bsDate" ></td>
        <td><input type="text" class="form-control  input-sm" placeholder="例）X0X000"></td>
        <td><select class="form-control input-sm" >
          <option>選択してください</option>
          <option>通勤定期1箇月</option>
          <option>通勤定期3箇月</option>
          <option>通勤定期6箇月</option>
          <option>Suicaチャージ</option>
          <option>PASMOチャージ</option>
          <option>その他</option>
        </select></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）東京メトロ"></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）小竹向原～池袋～新大塚"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
      <tr class="cell_font"><td><input type="text" class="form-control input-sm bsDate" ></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）X0X000"></td>
        <td><select class="form-control input-sm" >
          <option>選択してください</option>
          <option>通勤定期1箇月</option>
          <option>通勤定期3箇月</option>
          <option>通勤定期6箇月</option>
          <option>Suicaチャージ</option>
          <option>PASMOチャージ</option>
          <option>その他</option>
        </select></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）東京メトロ"></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）小竹向原～池袋～新大塚"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
      <tr class="cell_font"><td><input type="text" class="form-control input-sm bsDate" ></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）X0X000"></td>
        <td><select class="form-control input-sm" >
          <option>選択してください</option>
          <option>通勤定期1箇月</option>
          <option>通勤定期3箇月</option>
          <option>通勤定期6箇月</option>
          <option>Suicaチャージ</option>
          <option>PASMOチャージ</option>
          <option>その他</option>
        </select></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）東京メトロ"></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）小竹向原～池袋～新大塚"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
      <tr class="cell_font"><td><input type="text" class="form-control input-sm bsDate" ></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）X0X000"></td>
        <td><select class="form-control input-sm" >
          <option>選択してください</option>
          <option>通勤定期1箇月</option>
          <option>通勤定期3箇月</option>
          <option>通勤定期6箇月</option>
          <option>Suicaチャージ</option>
          <option>PASMOチャージ</option>
          <option>その他</option>
        </select></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）東京メトロ"></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）小竹向原～池袋～新大塚"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
      <tr class="cell_font"><td><input type="text" class="form-control input-sm bsDate" ></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）X0X000"></td>
        <td><select class="form-control input-sm">
          <option>選択してください</option>
          <option>通勤定期1箇月</option>
          <option>通勤定期3箇月</option>
          <option>通勤定期6箇月</option>
          <option>Suicaチャージ</option>
          <option>PASMOチャージ</option>
          <option>その他</option>
        </select></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）東京メトロ"></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）小竹向原～池袋～新大塚"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
    </table>
    <table class="table table-bordered table-condensed">
      <tr class="text-center"><td class="success" style="vertical-align:middle; width:140px;">請求対象期間</td>
        <td style="width:160px;"><input type="text" class="form-control input-sm bsDate" ></td>
        <td class="active" style="vertical-align:middle; width:40px;">～</td>
        <td style="width:160px;"><input type="text" class="form-control input-sm bsDate" ></td>
        <td class="warning" style="vertical-align:middle; width:120px;">合計</td><td style="vertical-align:middle; width:180px;"><strong>&yen;0</strong></td>
      </tr>
    </table>
  </div>
  <div class="tab-pane" id="traveling_expenses">
    <div class="input-group col-sm-3" style="margin:15px 0px 10px;">
      <span class="input-group-addon">申請コード</span>
      <input type="text" class="form-control" placeholder="例）G1JNNN">
    </div>
    <table class="table table-bordered table-condensed">
      <tr class="active text-center"><td style="width:120px;">利用日</td><td>利用項目</td><td style="width:150px;">金額（現金精算）</td><td style="width:150px;">金額（カード支払）</td></tr>
      <tr><td><input type="text" class="form-control input-sm bsDate" ></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）大甕～羽田（往復JR）"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
      <tr><td><input type="text" class="form-control input-sm bsDate" ></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）大甕～羽田（往復JR）"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
      <tr><td><input type="text" class="form-control input-sm bsDate" ></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）大甕～羽田（往復JR）"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
      <tr><td><input type="text" class="form-control input-sm bsDate" ></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）大甕～羽田（往復JR）"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
      <tr><td><input type="text" class="form-control input-sm bsDate" id="usage1input3 #mydate"></td>
        <td><input type="text" class="form-control input-sm" placeholder="例）大甕～羽田（往復JR）"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
      <tr class="text-center"><td class="warning" colspan="2">小計</td>
        <td style="vertical-align:middle; width:170px;"><strong>&yen;0</strong></td>
        <td style="vertical-align:middle; width:170px;"><strong>&yen;0</strong></td>
      </tr>
    </table>
    <table class="table table-bordered table-condensed" style="width:510px;">
      <tr class="text-center"><td class="active text-center" colspan="6"><strong>日&ensp;&ensp;当</strong></td></tr>
      <tr class="text-center">
        <td class="active" style="vertical-align:middle; width:50px;">日数</td>
        <td style="width:50px;"><input type="text" class="form-control input-sm" placeholder=""></td>
        <td class="active" style="vertical-align:middle; width:50px;">単価</td>
        <td style="width:150px;"><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td class="warning" style="vertical-align:middle; width:50px;">合計</td>
        <td style="vertical-align:middle; width:150px;"><strong>&yen;0</strong></td>
      </tr>
    </table>
    <table class="table table-bordered table-condensed" style="width:700px;">
      <tr> <td colspan="8" class="active text-center"><strong>宿&ensp;泊&ensp;費</strong></td></tr>
      <tr class="text-center"><td class="active" style="vertical-align:middle; width:50px;">泊数</td>
        <td  style="width:50px;"><input type="text" class="form-control input-sm" placeholder=""></td>
        <td class="active" style="vertical-align:middle; width:50px;">単価</td>
        <td style="width:150px;"><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td class="info" style="vertical-align:middle; width:50px;">金額</td>
        <td style="vertical-align:middle; width:150px;"><strong>&yen;0</strong></td>
        <td class="warning" style="vertical-align:middle; width:50px;" rowspan="2">合計</td>
        <td style="vertical-align:middle; width:150px;" rowspan="2"><strong>&yen;0</strong></td>
      </tr>
      <tr class="text-center"><td class="active" style="vertical-align:middle; width:50px;">泊数</td>
        <td  style="width:50px;"><input type="text" class="form-control input-sm" placeholder=""></td>
        <td class="active" style="vertical-align:middle; width:50px;">単価</td>
        <td style="width:150px;"><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td class="info" style="vertical-align:middle; width:50px;">金額</td>
        <td style="vertical-align:middle; width:150px;"><strong>&yen;0</strong></td>
      </tr>
    </table>
    <table class="table table-bordered table-condensed">
      <tr class="text-center"><td class="active">仮払金</td><td class="warning">旅費合計</td><td class="warning">差引過不足額</td><td class="success"><strong>現金精算合計額</strong></td><td class="success"><strong>カード精算合計額</strong></td></tr>
      <tr class="text-center"><td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td style="vertical-align:middle; width:150px;"><strong>&yen;0</strong></td>
        <td style="vertical-align:middle; width:150px;"><strong>&yen;0</strong></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
        <td><input type="text" class="form-control input-sm" placeholder="&yen;xx,xxx"></td>
      </tr>
    </table>
  </div>
</div>

<div style="margin-top:50px;">
  <p><strong>※上記入力内容を確認後、【電子ファイル出力】ボタンより、精算手続きを進めてください。</strong></p>
  <a href="PCM002_main.html"><button type="button" class="btn btn-primary">メインメニュー画面へ</button></a>
  <a href="PCC002_dayReport_newmodal.html"><button type="button" class="btn btn-info">勤怠一覧画面に戻る</button></a>
  <button class="btn btn-success {{btsty}}" ng-style="btDisp"><i class="glyphicon glyphicon-print"></i> 電子ファイル出力</button>
</div>
<!-- フッター -->
<div class="col-sm-8 col-md-offset-2" id="fotter"> &copy; 2012-<script>koshin();</script>
  <a href="http://www.cevol.jp/index.html">CEVOL</a> All Rights Reserved.
</div>
<!-- ↑htmlはこちらへ↑ -->
