<!--予算申請承認-->

<!-- ↓htmlはこちらへ↓ -->


<ul class="breadcrumb">
  <li><a href="">Home</a></li>
  <li>予算</li>
  <li class="active">予算申請承認</li>
</ul>


<!-- 登録完了メッセージ -->
<div class="alert alert-info" role="alert" style="width:650px; display:none;">
  <p>申請コード【0】の登録が完了しました。</p>
</div>

<div class="pull-left" id="shinsei_status">
  <table class="table table-bordered table-condensed">
    <tr><th class="status_cel1">申請状況</th></tr>
    <tr class="text-center"><td>
      <select  class="form-control input-sm" id="usage1select3">
        <option>申請中</option>
        <option>承認待ち</option>
        <option>申請差し戻し</option>
        <option>承認済</option>
        <option>要再審査</option>
        <option>案件作業中</option>
        <option>作業完了</option>
      </select>
    </td></tr></table>
</div>
<div class="pull-left" id="sign_tbl">
  <table class="table table-bordered table-condensed">
    <tr class="active text-center"><td class="sign_cel1">承　認</td><td class="sign_cel1">審　査</td><td class="sign_cel1">作　成</td></tr>
    <tr class="text-center"><td class="sign_cell2">&emsp;</td><td class="sign_cell2">大塚</td><td class="sign_cell2">セボル</td></tr>
  </table>
</div>
<div class="pull-left" id="signdate_tbl">
  <table class="table table-bordered table-condensed">
    <tr class="text-center"><td class="active sign_cel1">承認日</td><td class="signdate_cell">&emsp;</td></tr>
    <tr class="text-center"><td class="active sign_cel1">審査日</td><td class="signdate_cell">&emsp;</td></tr>
  </table>
</div>

<div class="clearfix"></div>

<div class="col-sm-9">
  <table class="table table-bordered table-condensed">
    <tr><td class="active text-center" style="vertical-align:middle;">申請コード</td>
      <td>&emsp;G1J234</td>
      <td class="active text-center" style="vertical-align:middle;">申請日</td>
      <td>&emsp;2017/03/16</td></tr>
    <tr><td class="active text-center" style="vertical-align:middle;">案件名</td>
      <td colspan="3">&emsp;作業あいうえお</td></tr>
    <tr><td class="active text-center" style="vertical-align:middle;">作業期間</td>
      <td style="width:200px;">&emsp;2017/04/01</td>
      <td class="active text-center" style="vertical-align:middle;">～</td>
      <td style="width:200px;">&emsp;2017/04/30</td></tr>
    <tr><td class="active text-center" style="vertical-align:middle;">検収日</td>
      <td colspan="3">&emsp;2017/05/31</td></tr>
    <tr><td class="active text-center" style="vertical-align:middle;">予算</td>
      <td colspan="3">&emsp;&yen;100,000</td></tr>
  </table>

  <table class="table table-bordered table-condensed">
    <tr><td class="active text-center" style="width:145px; vertical-align:middle;">旅費・交通費</td>
      <td>&emsp;&yen;100</td></tr>
    <tr><td class="active text-center" style="width:145px; vertical-align:middle;">残業経費</td>
      <td>&emsp;&yen;100</td></tr>
    <tr><td class="active text-center" style="width:145px; vertical-align:middle;">会議・交際費</td>
      <td>&emsp;&yen;100</td></tr>
    <tr><td class="active text-center" style="width:145px; vertical-align:middle;">他Gr費</td>
      <td>&emsp;&yen;100</td></tr>
    <tr><td class="active text-center" style="width:145px; vertical-align:middle;">外注費</td>
      <td>&emsp;&yen;100</td></tr>
    <tr><td class="active text-center" style="width:145px; vertical-align:middle;">作業員単価合計</td>
      <td>&emsp;&yen;500</td></tr>
  </table>
  <table class="table table-bordered table-condensed">
    <tr><td class="warning text-center" style="width:145px; vertical-align:middle;"><strong>収支予定</strong></td>
      <td><strong>&emsp;&yen;0</strong></td></tr>
  </table>
  <div id="worker_info" class="input-group">
    <h5><strong>―&emsp;作業者情報&emsp;―</strong></h5>
    <table class="table table-bordered table-condensed" id="tbl_worker_info">
      <tr class="active text-center">
        <td style="width:100px;">作業員名</td>
        <td style="width:100px;">作業月</td>
        <td style="width:100px;">作業人工</td>
      </tr>
      <tr class="text-center"><td>セボル　太郎</td><td>2017年4月</td><td>1.0</td></tr>
      <tr class="text-center"><td>セボル　次郎</td><td>2017年4月</td><td>0.5</td></tr>
    </table>
  </div>
  <div class="form-group" id="coment">
    <p class="control-label" for="InputTextarea"><strong>申請者コメント</strong></p>
    <table class="table table-bordered"><tr><td style="height:90px;">申請者のコメントを表示　あいうえおかきくけこ</td></tr>
    </table>
    <div id="exam_coment">
      <p class="control-label" for="InputTextarea"><strong>審査者コメント</strong></p>
      <textarea placeholder="審査者のコメントを入力してください。　※全角100文字(半角200文字)以内" rows="3" class="form-control" ></textarea>
    </div>
    <div id="appro_coment">
      <p class="control-label" for="InputTextarea"><strong>承認者コメント</strong></p>
      <textarea placeholder="承認者のコメントを入力してください。　※全角100文字(半角200文字)以内" rows="3" class="form-control" ></textarea>
    </div>
  </div>
  <div class="pull-right">
    <button class="btn btn-success " ng-style="btDisp"><i class="glyphicon glyphicon-print"></i> 電子ファイル出力</button>
  </div>
</div>
<!-- 画面下部ボタンエリア -->
<div class="col-sm-10" style="margin-top:60px; margin-bottom:50px;">

  <a href="PCM002_main.html"><button type="button" class="btn btn-primary">メインメニュー画面へ</button></a>
  <a href="PCA003_budgetlist.html"><button type="button" class="btn btn-border btn-success">予算申請一覧画面へ</button></a>
  <a href="#"><button id="regist" type="button" class="btn btn-border btn-primary">上記内容を登録する</button></a>
</div>
