<div id="sidebar_menu" class="panel panel-primary">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-time"></i> アクセス履歴
  </div>
  <ul>
    <!--<li *ngFor="let str of strArray"><a routerLink="{{str}}">{{str}}</a></li>-->
    <li *ngFor="let obj of objArray"><a routerLink="{{obj.url}}">{{obj.str}}</a></li>
  </ul>
</div>


<!--<hr />-->
<!--<button (click)="setData('123')">button_set</button>-->
<!--<button (click)="getData()">button_get</button>-->
<!--<button (click)="clearData()">button_clear</button>-->
<!--<button (click)="onClick()">oncli</button>-->


